* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main {
    
} */
.landing {
    min-height: 100vh;
    background: cadetblue;
    padding: 0rem 5rem;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    padding-top: 1vh;
    font-size: 1.2rem;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease 0.5s;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
}
.nav-links li a:hover {
    color: white;
    background-color: black;
}
#logo {
    font-weight: lighter;
    font-size: 1.2rem;
}
.big-text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}
.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}

/* Projects Section */
.projects {
    min-height: 100vh;
    width: 100%;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }


  /* About Section */
.about {
    min-height: 100vh;
    width: 100%;
}


  /* Contact Section */
.contact {
    min-height: 100vh;
    width: 100%;
}