
/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */
#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
  display: flex;
}
#navbar a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media screen and (max-width: 768px) {
  #navbar {
    justify-content: center;
  }
}


/* Landing Page */
.landing {
    min-height: 100vh;
    background: cadetblue;
    padding: 0rem 5rem;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    padding-top: 1vh;
    font-size: 1.2rem;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease 0.5s;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
}
.nav-links li a:hover {
    color: white;
    background-color: black;
}
#logo {
    font-weight: lighter;
    font-size: 1.2rem;
}
.big-text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}


/* Intro Slide */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* Projects Section */
.projects {
    min-height: 100vh;
    width: 100%;
    background: rgb(74, 123, 124);
    padding: 10vh 0 10vh 0;
}
.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10vw 0 10vw;
}
.proj {
  display: flex;
  flex-direction: column;
  margin: 1vh;
  flex-shrink: 1;
  flex-basis: 0;
}
.projects h1, h2 {
  padding: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
.projects h1 {
  font-size: xx-large;
}
.projects h2 {
  font-size: x-large;
}
#projects-greet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#proj-email {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  text-decoration: none;
  border-radius: 90px;
  width: 5em;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  transition: 0.5s ease;
  margin: 0 0 5px 0;
  font-weight: lighter;
}
#proj-email:hover {
  color: white;
}
img {
  width: 20em;
  border-radius: 5px 5px 0 0;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    max-width: 70vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s ease;
    border-radius: 0 0 5px 5px;
}
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
    background-color: #e4e4e4;
  }
  .bg-active {
    background-color: white;
  }


  /* About Section */
.about {
    min-height: 100vh;
    width: 100%;
    background: cadetblue;
    padding: 10vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-greet {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin: 0 10vw 0 10vw;
}
#about-greet h1 {
  margin-bottom: 15px;
  font-size: xx-large;
}
#about-greet p {
  font-size: larger;
  margin-bottom: 10vh;
}
.tech {
  width: 80vw;
  text-align: center;
}
#tech-greet {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}
#tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list {
  list-style: none;
}
#front-end {
  background: rgb(231, 231, 231);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 15rem;
}
#back-end {
  background: rgb(231, 231, 231);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 15rem;
}
#additional {
  background: rgb(231, 231, 231);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  width: 15rem;
}
#front-end h2 {
  text-decoration: underline;
}
#back-end h2 {
  text-decoration: underline;
}
#additional h2 {
  text-decoration: underline;
}


  /* Contact Section */
.contact {
    min-height: 100vh;
    width: 100%;
    background: rgb(74, 123, 124)
}