* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: 'Raleway', sans-serif;
}
.landing {
    min-height: 100vh;
    background: cadetblue;
    padding: 0rem 5rem;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav-links li {
    padding-top: 1vh;
    font-size: 1.2rem;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease 0.5s;
    padding: 2px;
}
.nav-links li a:hover {
    color: white;
    background-color: black;
}
#logo {
    font-weight: lighter;
    font-size: 1.2rem;
}
.big-text {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}
.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span {
    transform: translateY(100%);
    display: inline-block;
}